{% extends 'jobs/base.html' %}
{% block content %}
<div class="container my-4">
    <div class="row">
    <title>Job Categories</title>
    <!-- Add your CSS and other head elements here -->
</head>
<body>
    <h1>All Job Categories</h1>
    <br/><br/>
    <div class="container">
        <div class="row">
            
            {% for category in categories %}
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">{{ category.name }}</h2>
                    <p>Find job opportunities in the {{ category.name }} category.</p>
                    <a class="text-decoration-none" href="{% url 'category' category_id=category.id %}">
                        View Jobs in {{ category.name }}
                        <i class="bi bi-arrow-right"></i>
                        
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
</div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}